# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*.yaml]
indent_size = space
indent_size = 2

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{sh,html,js,py,css,json,md,jsx,cs,c,cpp,xml,java,rb,dart}]
indent_style = tab
indent_size = 4
